<header class="header">
	<div class="container">
		<div class="header__row">
			<!--
			<a href="/" class="header__logo">
				<img src="img/logo.png" alt="">
			</a>
			-->
			<nav class="header__nav">
				<a href="#" class="header__nav-link active">Тесты</a>
				<a href="#" class="header__nav-link">FAQ</a>
			</nav>
			<div class="header__button">
				<a href="#" class="button button--circle button--min">
					<i class="fas fa-comments"></i>
					<!-- Выводить если есть непрочитаные сообщения -->
					<span class="button__notification">!</span>
				</a>
				<a href="#popup--login" class="button button--min hide-768 popup-link">Личный кабинет</a>
				<a href="#popup--login" class="button button--circle button--min show-768 popup-link">
					<i class="fas fa-user"></i>
				</a>
				<a href="#" class="button button--circle button--min header__nav-toggle show-768">
					<i class="fas fa-bars header__nav-toggle-closed"></i>
					<i class="fas fa-times header__nav-toggle-opened"></i>
				</a>
			</div>
		</div>
	</div>
</header>