\:root
	--accent: #3498db
	--accent-lighten: #5cace2
	--accent-darken: #2e88c5
	--accent-shadow: rgba(#3498db, .2)	
	--accent-active-shadow: rgba(#3498db, .3)
	--dark: #3d5170
	--gray: #c2c2ca
	--light: #f6f6f8
	--white: #fff
	--red: #ffe6e6

$font: 'Proxima Nova', Helvetica, Arial, sans-serif
$dark: #3d5170
